#title{
	width:400px;
	height: 100px;
	font-size:70px;
	font-family: YouYuan;
	margin-top: 50px;
	color: #99FFFF;
	font-weight: bold;
	text-shadow: 3px 3px 4px ;
}
.font-box{
	width:300px;
	/*height: 100px;*/
	font-size:60px;	
	font-family: Arial;
	text-decoration:none;
	/*color: #99FFCC;*/
	color: white;
	-moz-border-radius: 15px;
    -webkit-border-radius:15px;
    border-radius: 15px;
    /*text-shadow: 1px 1px 1px ;*/
}
.ord{
	margin-top: 100px;
}
.box{
	width:300px;
	height: 25px;
}
#url_info {
    display: block;
    position: fixed;
    left: 0;
    bottom: 70%;
    width: 200px;
    height: 50px;
    padding: 5px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background: pink;
    color: white;
    font-family: YouYuan;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.bg{
	display:block;
}
a:hover{
	background-color:white;
}
a:active {
	background-color:#FFFF99;
}
a:visited {
	background-color:#FFFF99;
}
/*__________________________*/
