#t1 td{
	width:25%;
}

#t2 {
	width:800px;
	height:120px;
	backgroud:#999;
}

#t3 {
	width:800px;
	height:500px;
	background:#ccc;
}

#t3 #t3d1{
	width:40%;
}

#t3 #t3d2{
	width:60%;
}

.ts{
	border-right: 1px dotted #666;
	width:200px;
}