*{
	margin:0;
	padding:0;
}
.ui-main{
	width: 800px;
	height: 600px;
	border:black;
	background-color: #CDD3F5;
	display: flex;
	justify-content: center;
	flex-wrap: wrap; 
	margin-top: 100px;
	margin-left: 50px;

}
.ui-main-top{
	width: 760px;
	height: 120px;
	background-color: #99BD90;	
	border:1px solid black;
	margin-top:20px;
	display: flex;
	justify-content: space-around;
	align-items: center;

}
.ui-main-bottom{
	width: 760px;
	height: 420px;
	background-color:#99BD90;
	border:1px solid black;
	display: flex;
}


.ui-top-squareb{
	width: 80px;
	height: 80px;
	background-color: #CDD3F5;
	flex-direction: column;
	border:1px solid black;

}
.ord1{
	background-color: #99BD90;
	border: none;
}
.ui-main-bottom-left{
	width: 240px;
	height: 340px;
	background-color: #eee;
}
.ui-left-top{
	width: 240px;
	height: 340px;	
	display: flex;
	background-color: #99BD90;
	justify-content: space-around;
	align-items: center;
}
.ui-left-top-trih{
	width: 200px;
	height: 300px;
	background-color: #CDD3F5;
	border:1px solid black;
}
.ui-left-bottom{
	width: 240px;
	height: 80px;
	display: flex;
	background-color: #99BD90;
	justify-content: space-around;
	/*align-items: center;	*/
}
.ui-left-bottom2{
	width: 200px;
	height: 80px;
	display: flex;
	background-color: #99BD90;
	justify-content: space-between;	
}
.ui-left-bottom-squares{
	width: 50px;
	height: 50px;
	background-color: #CDD3F5;
	border:1px solid black;
}
.ui-main-bottom-right{
	width: 520px;
	height: 410px;
	background-color: #99BD90;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.ui-main-bottom-right2{
	width: 520px;
	height: 374px;
	background-color:#99BD90;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;	
}
.ui-right-tri{
	width: 480px;
	height: 40px;
	background-color: #CDD3F5;
	border:1px solid black;
}
/*——————————————————————————————————————————*/
.ui-main2-box{
	width: 390px;
	height: 370px;
	border-bottom: 1px solid black;
}
.ui-main2{
	width: 390px;
	height: 370px;
	border:1px solid black;
	margin-top: 80px;
	margin-left: 50px;
}
.ui-main2-top{
	width: 390px;
	height: 260px;
	background-color: #FFFFEB;	
	border-bottom: 1px solid black;
}
.ui-main2-bottom{
	width: 390px;
	height: 110px;
	background-color: #FFE6F4;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid black;
}
.ui-main2-bottom2{
	width: 390px;
	height: 90px;
	background-color: #FFE6F4;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;	
}
.ui-main2-bottom2-tri1{
	width: 370px;
	height: 20px;
	border: 1px solid black;
	background-color: #FFFFFF;	
	font-family: Microsoft YaHei;
	font-size:10px;
	text-indent:8px;
	/*text-align: center;*/
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.ord2{
	color: red;
}
.ui-main2-bottom2-tri2{
	width: 370px;
	height: 30px;
	border: 1px solid black;
	background-color: #FFFFFF;	
	font-family: Microsoft YaHei;
	display: flex;
	justify-content: space-around;
	align-items: center;
    align-items: flex-end;

}
.ui-main2-bottom2-tri2-box1{
	width: 120px;
	height: 20px;
	background-color: #FFFFFF;	
	font-family: Microsoft YaHei;
	font-size:20px;
	color:red;
	display: flex;
    flex-direction: column;
    justify-content: center;	
    text-indent:8px;
    align-self: center;
}
.ui-main2-bottom2-tri2-box2{
	width: 100px;
	height: 20px;
	background-color: #FFFFFF;	
	font-family: Microsoft YaHei;
	font-size:8px;
	text-indent:8px;
	text-decoration:line-through;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.ui-main2-bottom2-tri2-box3{
	width: 150px;
	height: 20px;
	background-color: #FFFFFF;
}
.ui-main2-bottom2-tri2-box4{
	width: 70px;
	height: 20px;
	background-color: #FFFFFF;	
	font-family: Microsoft YaHei;
	font-size:10px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
/*————————————————————————————————————————————*/
.ui-main3-box{
	width: 390px;
	height: 370px;
}
.ui-main3{
	width:1230px;
	height: 800px;
	margin-top: 100px;
	background-color: #F2F2F2;
	display: flex;
	/*justify-content: center;*/
	justify-content: space-around;
	flex-wrap: wrap; 	
	align-items: center;
	border: 1px solid gray;
}
.ui-main3-top{
	width: 390px;
	height: 260px;
	background-color: #FFFFEB;	
}
.ui-main3-bottom{
	width: 390px;
	height: 110px;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	border-bottom: none;
}
.ui-main3-bottom2{
	width: 390px;
	height: 90px;
	background-color: white;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;	
}
.ui-main3-bottom2-tri1{
	width: 370px;
	height: 20px;
	/*border: 1px solid black;*/
	background-color: #FFFFFF;	
	font-family: Microsoft YaHei;
	font-size:16px;
	text-indent:8px;
	font-weight: 580;
	/*text-align: center;*/
	display: flex;
    /*flex-direction: column;*/
    /*justify-content: center;*/
}
.ui-main3-bottom2-tri1-box1{
	height: 10px;
}

.ui-main3-bottom2-tri2{
	width: 370px;
	height: 50px;
	/*border: 1px solid black;*/
	background-color: #FFFFFF;	
	font-family: Microsoft YaHei;
	display: flex;
	justify-content: space-around;
	align-items: center;
    align-items: flex-end;

}
.ui-main3-bottom2-tri2-box0{
	/*width: 120px;*/
	height: 35px;
	background-color: #FFFFFF;	
	font-family: Microsoft YaHei;
	font-size:25px;
	color:red;
/*	display: flex;
    flex-direction: column;
    justify-content: center;	
    text-indent:8px;
    align-self: center;	*/
}
.ui-main3-bottom2-tri2-box1{
	/*width: 120px;*/
	height: 30px;
	background-color: #FFFFFF;	
	font-family: Microsoft YaHei;
	font-size:35px;
	color:red;
	display: flex;
    flex-direction: column;
    justify-content: center;	
    text-indent:8px;
    align-self: center;
}
.ui-main3-bottom2-tri2-box2{
	width: 100px;
	height: 30px;
	background-color: #FFFFFF;	
	font-family: Microsoft YaHei;
	font-size:10px;
	text-indent:8px;
	text-decoration:line-through;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.ui-main3-bottom2-tri2-box3{
	width: 100px;
	height: 20px;
	background-color: #FFFFFF;
}
.ui-main3-bottom2-tri2-box4{
	width: 40px;
	height: 30px;
	background-color: #FFFFFF;	
	font-family: Microsoft YaHei;
	font-size:10px;
	font-weight: bold;
	display: flex;
    flex-direction: column;
    justify-content: center;
}